* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('/static/img/WhatsApp Image 2020-05-29 at 08.47.39.jpeg');
    background-repeat: no-repeat;
    background-position: 66% 50%;
    background-attachment: fixed;
    background-size: cover;
}

/* nav bar */
.nav {
    margin-top: 5px;
    margin-left: 80px;

}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;

    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}
/* nav bar */


/* Intro */
.Intro {
    margin-top: 220px;
    margin-left: 60px;
}
.Intro h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 1.5rem;
}
.Intro a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0860c;
    size: 20px;
}
.Intro h1 {
    font-size: 2.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}
.Intro p {
    font-weight: 600;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* Intro */
/* Intro animations */

 .Intro {
            animation: fadeInAnimation ease 4s;
            animation-iteration-count: 1;
            animation-fill-mode: inherit;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
.row {
    float: right;
    margin-right: 50px;
    margin-left: 20%;

}



@media screen and (max-width: 467px){
    .row {
        float: right;
        margin-right: 8px;
    }

}
@media screen and (max-width: 767px){
    .row {
         float: right;
         margin-right: 8px;

    }

}
@media screen and (max-width: 967px){
    .row {
         float: right;
         margin-right: 8px;
    }

}
