{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tyle.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div class ='nav'>
    <label for="show-menu" class="show-menu">Menu</label>
    <input type="checkbox" id="show-menu" role="button">
        <ul id="menu">
        <li><a href="{% url 'home' %}" >Home</a></li>

        <li>
            <a href="{% url 'work' %}">Projects</a>

        </li>
        <li><a href="{% url 'certi' %}">Certifiactes</a></li>
        <li><a href="#">Contact</a></li>

    </ul>


    </div>

<div class="card middle">
    <div class="front">
        <img src="/static/img/WhatsAp.jpeg" alt="">
    </div>
    <div class="back">
       <div class="back-content middle">
           <h2>Dark</h2>
           <span>Youtube</span>
           <div class="sm">
               <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-youtube-square"></i></a>
               <a href="#"><i class="fa fa-github"></i></a>
           </div>
       </div>
    </div>
</div>
<br>
<br>
<div class="card middle1">
    <div class="front">
        <img src="/static/img/WhatsAp.jpeg" alt="">
    </div>
    <div class="back">
       <div class="back-content middle">
           <h2>Dark</h2>
           <span>Youtube</span>
           <div class="sm">
               <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-youtube-square"></i></a>
               <a href="#"><i class="fa fa-github"></i></a>
           </div>
       </div>
    </div>
</div>
<div class="card middle2">
    <div class="front">
        <img src="/static/img/WhatsAp.jpeg" alt="">
    </div>
    <div class="back">
       <div class="back-content middle">
           <h2>Dark</h2>8+

           <span>Youtube</span>
           <div class="sm">
               <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-youtube-square"></i></a>
               <a href="#"><i class="fa fa-github"></i></a>
           </div>
       </div>
    </div>
</div>
</body>
</html>